{{ define "main" }}
<main>
	<article>
		<h1>{{ .Title }}</h1>
		{{ if isset .Params "date" }}
		<p class="post_time">Posted At:
			<time datetime="{{ .Date.Format " Jan 02, 2006 3:04 PM" }}">{{ .Date.Format "Jan 02, 2006 3:04 PM" }}</time>
		</p> {{ end }}
		{{ if isset .Params "image" }}
		<img class="header-img" src="{{ .Params.image }}" alt="{{ .Params.desc }}">
		{{ end }}
		{{ if isset .Params "desc" }}
		<h3>{{ .Params.desc }}</h3>
		{{ end }}
		{{ if isset .Params "author" }}
		<h6>{{ .Params.author }}</h6>
		{{ end }}
		<div>
			{{ .Content }}
		</div>
		{{ if isset .Params "date" }}
		<a target="_blank" title="Share on Bluesky"
			href="https://bsky.app/intent/compose?text={{ .Site.Title }}: {{ .Title }} {{ .Page.Permalink }}">
			Share on Bluesky
		</a>
		{{ end }}
	</article>
</main>
{{ partial "sidebar.html" . }}
{{ end }}