body {
    font-family: "Lucida Console", "Courier New", monospace;
}

main,
aside {
    max-width: 1200px;
    margin: 40px auto;
    padding: 10px;
    border-radius: 25px;
    background-color: #ffffff;
    padding-bottom: 100px;
}

h1,
h2,
h3 {
    line-height: 1.2
}

img {
    clip-path: polygon(5% 0, 100% 0%, 95% 100%, 0% 100%);
    border-radius: 25px;
}

article {
    padding: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: white;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
}

.logo {
    max-height: 100px;
    max-width: 100px;
    float: left;
    display: inline;
}


@media (prefers-color-scheme: dark) {
    body {
        background-image: url("bg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        overflow-x: hidden;
    }

    a:link {
        color: #58a6ff;
    }

    a:visited {
        color: #8e96f0;
    }

    .post_time {
        color: #5e5e5e;
    }

    .header-img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .sum-img {
        max-width: 30%;
        height: 200px;
        float: left;
        display: inline;
        object-fit: cover;
    }

    .side-img {
        max-width: 50px;
        height: 50px;
        float: left;
        display: inline;
        object-fit: cover;
    }

    .side-article {
        list-style: none;
        padding: 20px;
    }

    nav {
        padding-left: 25%;
        width: 100%;
        text-align: left;
    }

    nav li {
        display: inline;
    }

    nav a {
        display: inline-block;
        padding: 10px;
    }

    @media only screen and (max-width: 600px) {
        nav {
            flex-direction: column;
        }

        nav ul {
            flex-direction: column;
            padding-top: 0.5rem;
        }

        nav li {
            padding: 0.5rem 0;
        }
    }

}